<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Kontur.GameStats.Server.Properties.Settings.game_stats_db_connection_string"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\game_stats_db.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>